/*01 TYPOGRAPHY SYSTEM
Font size: 10 / 12 / 14 / 16 / 18 / 

-Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Latter spacing
-0.5
-0.75

--02 colors 

-Primary: #e67e22
-Tints: #fdf2e9
        #fae5d3
        #eb984e

-Shades: #cf711f
         #45260a

-Accents:
-Greys: #888
        #767676 (lightest grey allowed on #fff)
        #6f6f6f (lightest grey allowed on #fdf2e9)
        #555
        #333

- 05 Shadows: 0 2.4rem 4.8rem rgba(0, 0, 0.075);

- 06 Border-Radius

- 07 Whitespace
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /*
  font-size:10px
  10px/16px = 0.652 = 62.5%
  Percentage of user's browser font-sizing setting
  */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 3.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #099268;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.section-food {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.food {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 15rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

/*.grid:last-child {
  margin-bottom: 0;
}*/

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}*/

.grid--center-vertically {
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  /*color: #45260a*/
  /*color: #343a40*/
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.food-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /*Put transition on original "state"*/
  /*transition: background-color 0.3s;
*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #555;
}

.btn--outline:link,
.btn--outline:visited {
  margin-left: 1.6rem;
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn-outline:active {
  background-color: #099268;
  color: #fff;
}

.delivered-meal {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

.food-image {
  width: 100%;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding: 2px;
}

.link:hover,
.link:active {
  color: cornflowerblue;
  border-bottom: 1px solid transparent;
}

/* HELPING CLASSES*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-right-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

/*Start Eating Well SECTION*/

.start-eating-well {
  height: 100%;
  padding-left: 30rem;
  padding-right: 30rem;
  padding-bottom: 10rem;
  margin: auto;

  background-color: #fdf2e9;
}

.start-eating-well-img img {
  width: 100rem;
  height: 60rem;
  border-radius: 1.5rem;
}

.eating-well-text {
  font-family: inherit;
  margin-top: 2.5rem;
  margin-bottom: 4.8rem;
}

.eating-well-heading {
  font-size: 5.2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.eating-well-subheading {
  font-size: 5.2rem;
  font-weight: normal;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.eating-well-paragraph {
  padding-right: 29rem;
  padding-left: 1rem;
  font-size: 2rem;
  color: #333;
  letter-spacing: -0.05px;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
